.navButton {
  background-color: lawngreen;
  padding: 11px 25px;
  width: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* This turn drop down off when not used */
.dropdown-box {
  display: none;
  position: absolute;
  z-index: 99;
  padding-top: 20px;
  margin-left: -30px;
}

/* this class turn dropdowmn menu on during hover */
.navButton:hover .dropdown-box {
  display: block;
}

.dropdown-box .navButton {
  background-color: cadetblue;
}

.dropdown-box .navButton:hover {
  background-color: darkblue;
  transition-duration: 1s;
}