html {
  background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
  background-image: url(../images/image-lion-background.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.125rem;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* 
  kalau garis horizontal pake border 
  border-bottom: 1px solid black; 
  */
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.main2 {
  min-height: 300px;
  padding-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(../images/image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;   
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 228);
}

.card2 {
  background-image: url(../images/image-background-card2.jpg);
  background-size: cover;
  background-position: bottom;
  width: 30%;
  min-height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 228);
}

.card3 {
  background-image: url(../images/image-background-card3.jpg);
  background-size: cover;
  background-position: bottom;
  width: 30%;
  min-height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 228);
}

.card1, .card2, .card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox2 {
  flex: 1;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 228);
}

h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.cards i {
  font-size: 100px;
  padding-top: 30px;
}

.cards a {
  text-decoration: none;
  color: white;
}

.myButton {
  background-color: white;
  color: black;
  font-family: 'Playfair Display', serif;
  padding: 11px 25px;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 228);
}

.myButton:hover {
  background-color: aquamarine;
  transition-duration: 1s;
}

a.myButton {
  display: inline-block;
  margin-top: 20px;
}

.navButton {
  border: 1px solid white;
  padding: 11px 25px;
  font-family: 'Playfair Display', serif;
  display: inline-block;
  position: relative;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
}

/* .tbox:last-child {
  font-size: 
} */

.tbox p:last-of-type {
  font-size: 0.8rem;
  padding-left: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
}

.navButton:hover .dropdown {
  display: block;
}

.dropdown .navButton {
  width: 150px;
  background-color: white;
}

.dropdown .navButton a {
  color: blue;
}

.input-wrapper {
  margin-bottom: 20px;
}

input[type=text], input[type=email], textarea {
  padding: 12px 20px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
  box-sizing: border-box;
}

.newLine {
  display: block;
  margin-bottom: 10px;
}

.margin-right-a {
  margin-right: 20px;
}

input[type=radio] {
  margin-right: 10px;
}

form {
  margin: 40px 0px;
}